/*---ШРИФТ------------------------------------------------*/

body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/*---ШИРИНА БЛОКОВ------------------------------------------------*/

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}


/*---ШАПКА------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header_container {
    display: flex;
    min-height: 104px;
    align-items: center;

}

.header_logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header_menu {
    margin: 0 0 0 133px;
}

@media(max-width:992px) {
    .header_menu {
        margin: 0 0 0 80px;
    }
}

@media(max-width:767px) {
    .header_menu {
        margin: 0 0 0 50px;
    }
}

@media(max-width:479px) {
    .header_menu {
        margin: 0 0 0 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}


.menu_item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu-link {
    line-height: 165%;
    color: #737373;
    font-weight: 600;
}

@media(max-width:479px) {
    .header_menu {
        font-size: 18px;
    }

    .header_container {
        min-height: 70px;
    }
}

/*---PAGE------------------------------------------------*/
.page{
flex: 1 1 auto;
}











/*---ПОДВАЛ------------------------------------------------*/
.footer{

}
