/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    background: #fafafa;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
}

/* 




/*---ШРИФТ------------------------------------------------*/

body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/*---ШИРИНА БЛОКОВ------------------------------------------------*/

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*---ШАПКА------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header_container {
    display: flex;
    min-height: 104px;
    align-items: center;

}

.header_logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header_menu {
    margin: 0 0 0 133px;
}

@media(max-width:992px) {
    .header_menu {
        margin: 0 0 0 80px;
    }
}

@media(max-width:767px) {
    .header_menu {
        margin: 0 0 0 50px;
    }
}

@media(max-width:479px) {
    .header_menu {
        margin: 0 0 0 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}


.menu_item:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu-link {
    line-height: 165%;
    color: #737373;
    font-weight: 600;
}

@media(max-width:479px) {
    .header_menu {
        font-size: 18px;
    }

    .header_container {
        min-height: 70px;
    }
}

/*---PAGE------------------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page_main-block {}

.page_services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}

.page_advantages {
}
.page_practice {
}
/*---HEADER-BLOCK-------------------------------------------*/

.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}

.header-block_tittle {
font-size: 40px;
font-weight: 700;
line-height: 142%;

}
.header-block_tittle:not(:last-child) {
    margin: 0 0 10px 0;
}

.header-block_sub-tittle {
color: #737373;
line-height: 142%;
}
@media(max-width: 992px){
    .header-block_tittle{
        font-size: 35px;
    } 
}
@media(max-width: 767px){
    .header-block_tittle{
        font-size: 30px;
    } 
}

/*---ПОДВАЛ------------------------------------------------*/
.footer {}

/*---MAIN_BLOCK------------------------------------------------*/


.main-block {
    position: relative;
}



.main-block_body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width:992px) {
    .main-block_body {
        padding: 120px 0 191px 0;
    }
}

@media (max-width:479px) {
    .main-block_body {
        padding: 115px 0 160px 0;
    }
}

.main-block_body>*:not(:last-child) {
    margin: 0 0 35px 0;

}

.main-block_tittle {
    margin: 0;
    letter-spacing: 0.2px;
    font-size: 58px;
    line-height: calc(80/58*100%);
    font-weight: 800;
}

@media (max-width:479px) {
    .main-block_tittle {
        font-size: 42px;
    }
}


.main-block_text {
    color: #737373;
    font-size: 20px;
    line-height: 1.5;
}

@media (max-width:479px) {
    .main-block_text {
        color: #585757;
    }
}

.main-block_buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block_button {
    display: flex;
    border-radius: 37px;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    margin: 10px 0;
}

@media (max-width:479px) {
    .main-block_button {
        flex: 1 1 100%;
    }
}

@media (min-width:479px) {
    .main-block_button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block_button_orange {
    background-color: #FF7B47;
    color: #FFFFFF;
}

.main-block_button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}

.main-block_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1300px) {
    .main-block_image img {
        object-position: right;
    }
}

@media (max-width:992px) {
    .main-block_image {
        opacity: 0.5;
    }
}

/*---------------------------------------------------*/



.services {
   
}

.services_container {}

.services_body {}

@media(min-width:670px) {
    .services_body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}

.services_column {
    flex: 0 1 33.333%;

}

@media(min-width:670px) {
    .services_column {
        padding: 0 15px;
    }

}

@media(max-width:992px) {
    .services_column {
        flex: 0 1 50%;
    }

    .services_column:not(:last-child) {
        margin: 0 0 30px 0;
    }

    .services_column:last-child {
        flex: 1 1 100%;
    }
}

.services_item {
    height: 100%;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    padding: 35px;
}

@media (max-width:479px) {
    .services_item {
        padding: 25px;
    }
}

.item-service {}

.item-service_green {
    background-color: #0D5C63;
}

.item-service_green .item-service_tittle {
    color: #FFFFFF;
}

.item-service_green .item-service_text {
    color: #FFFFFF;
}

.item-service>*:not(:last-child) {
    margin: 0 0 10px 0;
}


.item-service_icon {}

.item-service_tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

.item-service_text {
    color: #737373;
    line-height: 142%;
}

/*---ADVANTAGES--------------------------------------------*/


.advantages {
    padding: 80px 0;
    
}

@media(max-width: 992px){
    .advantages{
padding: 50px 0 ;
    }
    }

    @media(max-width: 767px){
        .advantages{
    padding: 40px 0 ;
        }
        }
.advantages_container {
}
.advantages_header {
    margin: 0 0 50px 0;
}
@media(max-width: 767px){
    .advantages_header {
        margin: 0 0 25px 0;
    }
}
.advantages_body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages_column {
    padding: 0 15px;
    flex: 0 1 25%;
    margin: 0 0 30px 0;
}

@media(max-width: 1020px){
.advantages_column{
    flex: 0 1 50%;
}
}

@media(max-width: 560px){
    .advantages_column{
        flex: 0 1 100%;
    }
    }

.advantages_item {
    background-color: #FFFFFF ;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}
.advantages_item>*:not(:last-child){
    margin: 0 0 10px 0 ;
}
.advantages_icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages_value {
    font-size: 40px;
    line-height: 142%;
    
}
.advantages_text {
    
    font-size: 16px;
    line-height: 150%;
    color:#737373;
    letter-spacing: 0.1px;
}

/*-----PRACTICE-----------------------------------------*/


.practice { 
    padding: 125px 0 80px 0;
}
.practice_container {
}
.practice_header {
    margin: 0 0 45px 0;
}

.practice_body {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
}
.practice_column {
    padding: 0 20px;
    flex: 0 1 25%;
}
.practice_item {
    
}
.item-practice {
    background-color: #FFFFFF;
}
.item-practice_content{
    padding: 30px;   
}
.item-practice_link {
    color: inherit;
    display: inline-block;
}
.item-practice_link:hover{
    text-decoration: underline;
}
.item-practice_link:not(:last-child){
margin: 0 0 15px 0;
}

.item-practice_tittle {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-practice_text {
    color: #737373;
    line-height: 142%;
}
.item-practice_image {
    display: block;
    padding: 0px 0px 60% 0px;
}